:root{
  --primary : #383838;
  --secondary : #ffd936;
  --white : #efefef;
}

/*Sobre*/
#sobre-page #main .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    color: var(--white);
}

#sobre-page #main .main-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#sobre-page #main .main-content p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    text-align: justify; 
    text-align-last: left;
}


#about-cards .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
    margin: 80px auto;
    flex-wrap: wrap;
}

#about-cards .card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex: 1 1 250px;
    text-align: center;
    margin-bottom: 162px;
}

#about-cards .card h3 {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--primary);
}

#about-cards .card p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary);
    text-align: justify;
    text-align-last: left;
}

@media screen and (max-width: 900px) {
    #about-cards .container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}
